<template name="_header">

  <nav id="nav-main" class="slide" role="navigation">
      <a href="#" class="main-logo">
        <h1 class="title-init-word" style="border: black;">
          <strong class="title-last-word">Push</strong>Box!
        </h1>
      </a>

      <div id="menu-btn" class="">
        <span class="bar bar-a"></span>
        <span class="bar bar-b"></span>
        <span class="bar bar-c"></span>
      </div>
      <a href="{{ pathFor 'atSignIn' }}" class="hire-us">Sign In</a>
  </nav>

  <div id="menu-main" class="active">
    <a class="link-block" href="#">
      <span class="animated fadeInDown">Home</span>
    </a>
    <a class="link-block" href="#">
      <span class="animated fadeInDown">Get Started</span>
    </a>
    <a class="link-block" href="#">
      <span class="animated fadeInDown">Pricing</span>
    </a>
    <a class="link-block" href="#">
      <span class="animated fadeInDown">Contac Us</span>
    </a>
  </div>
 
</template>
